.study
  .index
    .contents
      - @studies.each do |study|
        .contents__content
          = link_to study.title,study_path(study.id)
          -# = study.title
        .contents__user
          = User.find(study.user_id).name 